PORT=5000
APP_HOST=http://localhost
CLIENT_URL=http://localhost:3000

HASH_ROUNDS=10
JWT_SECRET_KEY=access-secret
JWT_SECRET_REFRESH_KEY=refresh-secret
TOKEN_EXPIRE_TIME=5m
TOKEN_REFRESH_EXPIRE_TIME=10m


# mail
MAIL_HOST=smtp.example.com
MAIL_USER=user@example.com
MAIL_PASSWORD=topsecret
MAIL_FROM=noreply@example.com

POSTGRES_PORT=5050
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres_db

ADMINER_HOST_PORT=5100
ADMINER_PORT=8080